@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
  <head>
    <title>@title</title>
    <meta name="theme-color" content="#724987">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <link rel="icon" type="image/x-icon" href="@routes.Assets.versioned("/favicon.ico")">
    <script src="@routes.Assets.versioned("components/webcomponentsjs/webcomponents-lite.min.js")"></script>
    <link rel="import" href="@routes.Assets.versioned("webapp/arckane-app.html")">
  </head>
    <body class="fullbleed vertical layout">
      @content
    </body>
</html>
